{
  "presets": [
    ["es2015", { "loose": true }],
    "flow",
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    ["module-resolver", { "root": ["./src"],  "alias": { "test": "./test" } }]
  ]
}
